
.topnav {
  background-image: url("space.jpg");
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 2px;
  text-decoration: none;
  font-size: 30px; font-family=
}

.topnav a:hover {
  background-color: lightblue;
  color: white;
}

.topnav a.active {
  background-color: white;
  color: black;
}

html {

  background-image: url("backgroundsite.jpg");
  background-size: cover;
  background-repeat: no-repeat;


}
body {

font-size: 20px;
text-align: center;
font-family: sans-serif;
margin: 0; 



}

table {
}

td { border: 1px solid black; text-align: center;
}
