
.topnav {

  background-image: url("space.jpg");
  overflow: hidden;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 30px; font-family= sans-serif
}

.topnav a:hover {
  background-color: #FB493C;
  color: white;
}

.topnav a.active {
  background-color: red;
  color: white;
}

html {

  background-image: url("backgroundsite.jpg");
  background-size: cover;
  background-repeat: no-repeat;


}
body {

font-size: 20px;
text-align: center;
font-family: sans-serif;
margin: 0;



}
ul{
list-style-type: none;
list-float: center;


}
ul a{
  text-decoration: none;
  color: black;
}

table { width: 1000px;
}

td {  border: 3px solid black; text-align: center;


}
passed{
  background-color: red;
}
failed{
background-color: green;
}
